.pikachu {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .image {
    display: block;
    width: 200px;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 200px;
    opacity: 0;
    transition: .3s ease;
    background-color: red;
  }
  
  .pikachu:hover .overlay {
    opacity: 0.95;
  }

  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .fa-user:hover {
    color: #eee;
  }

  /* ///////////////////////////////////////////////////////// */

  .hr_style{
    width: 70%;
    border: 1px solid rgb(17, 236, 218);
}

  #myDIV {
    position: absolute;
    left: 70%;
    top: 35%;
    color: white;
    width: 23%;
    padding: 50px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.95);
    margin-top: 20px;
    z-index: 1;
  }
  
  #aama {
    list-style: none;
  }

  #myDIV p{
    cursor: pointer;
  }

  #myDIV a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
  }

  #aama a:hover {
    background-color: #928f8f;
    /* background-color: #ff7e7e; */
    color: rgb(255, 255, 255);}


    .DIV_content{
        color: white;
        border-left: 2px solid rgb(255, 238, 0);
    }

    .proffok{
        padding-left: 5%;
    }
    .squirtle , #myDIV p{
        cursor: pointer;
      }

      /* .squirtle{
        width: 20%;
        padding: 10px;
        color: rgb(71, 69, 68);
        text-align: center;
        background-color: rgb(71, 78, 100);
        border-radius: 5px;
        color: white;
    }  */

    #main_div_contacts{
        padding-left: 45px;
        border-left: 2px solid rgb(255, 217, 0);
    }

    #outer_div{
        padding-left: 70px;
    }